.loading-search{ 
    background-image: url("../images/search-loading.gif");
    background-repeat: no-repeat;
    display: none;
    height: 16px;
    float: right;
    position: relative;
    top: 7px;
    width: 16px; }

.bold{ font-weight: bold; }

.navbar{ margin: 10px 0 !important; min-height: inherit !important; }

.valign{ vertical-align: middle !important; }

table.vertical-middle{  }
table.vertical-middle > thead > tr > th,
table.vertical-middle > tbody > tr > td{ vertical-align: middle; }

.ajax-result{ 
	background-color: rgba(0, 100, 0, 0.8);
    border: medium none;
    border-radius: 0;
    bottom: 0;
    box-shadow: 0 0 5px 0 #000;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    left: 0;
    margin: 0;
    padding: 260px 0;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 99; }

 .ajax-result.alert-danger{ background-color: rgba(255, 0, 0, 0.8); }